    <section class="suite">
      <h1>when getting sessions</h1>
      <dl>
        <dt>should order by display</dt>
        <dd><pre><code>sessions[0].display.should.equal(first.display);
sessions[1].display.should.equal(second.display);</code></pre></dd>
        <dt>should not return hidden sessions</dt>
        <dd><pre><code>_.where(sessions, {hide: true}).length.should.equal(0);</code></pre></dd>
      </dl>
    </section>
    <section class="suite">
      <h1>when a session has interest from a user</h1>
      <dl>
        <section class="suite">
          <h1>who has never voted for the session</h1>
          <dl>
            <dt>should increment the vote count by one</dt>
            <dd><pre><code>session.votes.should.equal(doc.votes + 1);</code></pre></dd>
            <dt>should add the interested user</dt>
            <dd><pre><code>session.voters.should.contain(setup.create.interestedVoter(args.userId));</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>who was previously not interested in the session</h1>
          <dl>
            <dt>should increment the vote count by one</dt>
            <dd><pre><code>session.votes.should.equal(doc.votes + 1);</code></pre></dd>
            <dt>should update the interested user</dt>
            <dd><pre><code>session.voters.should.contain(setup.create.interestedVoter(args.userId));</code></pre></dd>
            <dt>should not have more than one vote for the user</dt>
            <dd><pre><code>session.voters.length.should.equal(doc.voters.length);</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a member is interested in a session</h1>
      <dl>
        <section class="suite">
          <h1>and has not voted on the session yet</h1>
          <dl>
            <dt>should save the vote for the session</dt>
            <dd><pre><code>repo.votes.findOne(args, function(err, vote){
    vote.should.exist;
    vote.interested.should.be.true;
    done();
});</code></pre></dd>
            <dt>should announce the user is interested</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and has already voted as being interested</h1>
          <dl>
            <dt>should not double count the vote</dt>
            <dd><pre><code>repo.votes.count(args, function(err, count){
    count.should.equal(1);
    done();
});</code></pre></dd>
            <dt>should not announce the user is interested</dt>
            <dd><pre><code>announced.should.be.false;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and has already voted as not being interested</h1>
          <dl>
            <dt>should not have multiple votes for the same user and session</dt>
            <dd><pre><code>repo.votes.count(args, function(err, count){
    count.should.equal(1);
    done();
});</code></pre></dd>
            <dt>should update the user as being interested in the session</dt>
            <dd><pre><code>repo.votes.findOne(args, function(err, vote){
    vote.should.exist;
    vote.interested.should.be.true;
    done();
});</code></pre></dd>
            <dt>should announce the user is interested</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without providing a session id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.interested({userId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without providing a user id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.interested({sessionId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a session has no interest from a user</h1>
      <dl>
        <section class="suite">
          <h1>who has never voted for the session</h1>
          <dl>
            <dt>should add the voter</dt>
            <dd><pre><code>session.voters.should.contain(setup.create.notInterestedVoter(args.userId));</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>who was previously interested in the session</h1>
          <dl>
            <dt>should decrement the session vote count by one</dt>
            <dd><pre><code>session.votes.should.equal(doc.votes - 1);</code></pre></dd>
            <dt>should update the user as not interested</dt>
            <dd><pre><code>session.voters.should.contain(setup.create.notInterestedVoter(args.userId));</code></pre></dd>
            <dt>should not have more than one vote for the user</dt>
            <dd><pre><code>session.voters.length.should.equal(doc.voters.length);</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a member is not interested in a session</h1>
      <dl>
        <section class="suite">
          <h1>and has not voted on the session yet</h1>
          <dl>
            <dt>should save the vote for the session</dt>
            <dd><pre><code>repo.votes.findOne(args, function(err, vote){
    vote.should.exist;
    vote.interested.should.be.false;
    done();
});</code></pre></dd>
            <dt>should announce the user is not interested</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and has already voted as not being interested</h1>
          <dl>
            <dt>should not double count the vote</dt>
            <dd><pre><code>repo.votes.count(args, function(err, count){
    count.should.equal(1);
    done();
});</code></pre></dd>
            <dt>should not announce the user is interested</dt>
            <dd><pre><code>announced.should.be.false;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and has already voted as being interested</h1>
          <dl>
            <dt>should not have multiple votes for the same user and session</dt>
            <dd><pre><code>repo.votes.count(args, function(err, count){
    count.should.equal(1);
    done();
});</code></pre></dd>
            <dt>should update the user as not being interested in the session</dt>
            <dd><pre><code>repo.votes.findOne(args, function(err, vote){
    vote.should.exist;
    vote.interested.should.be.false;
    done();
});</code></pre></dd>
            <dt>should announce the user is not interested</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without providing a session id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.notInterested({userId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without providing a user id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.notInterested({sessionId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when resetting votes</h1>
      <dl>
        <dt>should clear all votes</dt>
        <dd><pre><code>repo.votes.count({}, function(err, count){
   count.should.equal(0);
    done();
});</code></pre></dd>
        <dt>should announce that votes were reset</dt>
        <dd><pre><code>announced.should.be.true;</code></pre></dd>
      </dl>
    </section>
